* {
  margin: 0;
  box-sizing: border-box;
  appearance: none;
}

html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-size: 16px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms !important;
  transition-delay: 0 !important;
}

body {
  width: 100%;
  height: 100%;
  word-break: keep-all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans KR', Arial, sans-serif;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
  html,
  body {
    font-size: 10px;
  }
}
